<% if(products.length) { %> 
    <% products.map(product => { %> 
        <tr>
            <form id='addProd' action='/api/cart/deleteProduct/' method='POST'>
                <input name="id" type="text" hidden="true" value="<%= product.id %>">
                <td><%= product.name %></td>
                <td><%= product.price %></td>
                <td><%= product.description %> </td>
                <td><%= product.stock %> </td>
                <td><img style="max-width: 80px" src="<%= product.photoURL %>"></img></td>
                <!-- <td><button type="submit" onclick="delalert()" class="btn btn-warning">Delete product</button></td> -->
            </form>
        </tr>
    <% }) %> 
    
<% } else { %> 
    <h1 class="text-danger">NO PRODUCTS TO SHOW</h1>
    <br>
    <h2><a type="button" href="/">Go to Store>></a></h2>
<% } %>