
<% if(products.length) { %> 
    <% products.map( product => { %> 
        <tr>
            <form id='addProd' action='/api/cart/addProduct/' method='POST'>
                <td><input name="name" type="text" hidden="true" value="<%= product.name %>"><%= product.name %></td>
                <td><input name="price" type="number" hidden="true" value="<%= product.price %>"><%= product.price %></td>
                <td><input name="description" type="text" hidden="true" value="<%= product.description %>"><%= product.description %></td>
                <td><input name="stock" type="number" hidden="true" value="<%= product.stock %>"><%= product.stock %></td>
                <td><input name="photoURL" type="text" hidden="true" value="<%= product.photoURL %>"><img style="width: 100px; height: 100px" src="<%=product.photoURL%>"></img></td>
                <td><button type="submit" onclick="addalert()" class="btn btn-danger">Add to Cart</button></td>
            </form>
        </tr>
    <% }) %> 
<% } else { %> 
    <h1>NO PRODUCTS TO SHOW - Add a new product in Form</h1>
    <br>
    <a type="button" href="./api/addProdForm">Go to form</a>
<% } %>
                